<footer>
  <ul class="footer-social-media social-media-wrapper">
    <li class="social-media-button"><a href="https://ca.linkedin.com/in/mccourttrevor
" class="icon ion-social-linkedin"></a></li>
    <li class="social-media-button"><a href="mailto:trevormccrt@gmail.com" class="icon ion-email"></a></li>
  </ul>
  <div class="footer-copyright">
    &copy; Copyright  Trevor McCourt <%= (new Date()).getFullYear() %>
  </div>
</footer>