<header>
  <nav>
    <a href="/" id="logo"><img src="/assets/images/home.png" alt=""></a>

    <div id="menu-toggle" onclick="toggleMenu()"><span class="icon ion-navicon-round"></span></div>

    <ul id="menu">
      <li class="menu-item"><a href="/projects/">PROJECTS</a></li>
      <li class="menu-item"><a href="/assets/resume.pdf">RESUME</a></li>
      <li class="menu-item"><a href="/contact/">CONTACT</a></li>
    </ul>
  </nav>
</header>