@import "config";


#main-content{
  min-height: 100%;
  /* For the sticky footer stuff */
  margin-bottom: $footer_height_negative !important;
  &:after{
    content: "";
    display: block;
    height: $footer_height;
  }
}
footer {
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: $footer_height;
  background-color: $footer_background_color;
  color: $footer_text_color;
  .footer-social-media{
    margin: 0;
    .social-media-button{
      a{
        font-size: 36px;
        color: $footer_text_color;
      }
    }
  }
  .footer-copyright{
    display: block;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
  }
}