<% layout('layout') -%>

<article id="main-content">
  <h1>Sponsors</h1>
  <p>We would like to express our most sincere gratitude to all our sponsors for their contributions. WARG cannot operate without their generous support. Thank you.</p>

  <h2>Financial contributors</h2>
  <p>We'd like to thank the following organizations for their generous financial contributions, which allows us to buy the equipment necessary to be successful in our endeavours.</p>
  <div class="sponsor-wrapper">
    <div class="sponsor sponsor-medium">
      <a href="http://www.eng.uwaterloo.ca/~weef/"><img src="/assets/images/sponsors/weef.png" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="https://www.engsoc.uwaterloo.ca/" target="_blank"><img class="sponsor-large" src="/assets/images/sponsors/engsoc.png"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="https://uwaterloo.ca/engineering" target="_blank"><img class="sponsor-large" src="/assets/images/sponsors/engfacultylogo.png"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="https://uwaterloo.ca/electrical-computer-engineering/" target="_blank"><img src="/assets/images/sponsors/ecelogo.png"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="https://uwaterloo.ca/mechanical-mechatronics-engineering" target="_blank"><img src="/assets/images/sponsors/mmelogo.png"></a>
    </div>
  </div>

  <h2>Product and Service contributors</h2>

  <p>A lot of the equipment and services our team uses has been graciously donated or loaned to us from our sponsors in industry.</p>

  <div class="sponsor-wrapper">
    <div class="sponsor sponsor-xlarge">
      <a href="http://www.solidworks.com/" target="_blank"><img src="/assets/images/sponsors/solidworks.png"></a>
    </div>
    <div class="sponsor sponsor-xlarge">
      <a href="https://www.mathworks.com/" target="_blank"><img src="/assets/images/sponsors/mathworks.png"></a>
    </div>
    <div class="sponsor sponsor-xlarge">
      <a href="http://asana.com" target="_blank"><img src="/assets/images/sponsors/asana.png"></a>
    </div>
    <div class="sponsor sponsor-large">
      <a href="http://bayareacircuits.com/" target="_blank"><img src="/assets/images/sponsors/bayareacircuits.png"></a>
    </div>
    <div class="sponsor sponsor-large">
      <a href="http://emrlabs.com" target="_blank"><img src="/assets/images/sponsors/emrlab.png"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="http://www.github.com/" target="_blank"><img src="/assets/images/sponsors/github.png"></a>
    </div>
    <div class="sponsor sponsor-large">
      <a href="http://www.vectornav.com/" target="_blank"><img src="/assets/images/sponsors/vectornav.png"></a>
    </div>
    <div class="sponsor sponsor-medium">
      <a href="http://www.diptrace.com/" target="_blank"><img src="/assets/images/sponsors/diptrace.png"></a>
    </div>
  </div>

  <h2>Expertise contributors</h2>
  <p>Some of our sponsors have helped by providing us with supervised access to their facilities to complete electronic circuit fabrication.  Other sponsors have assisted us with difficult shipping arrangements and packaging.</p>

  <div class="sponsor-wrapper">
    <div class="sponsor sponsor-large">
      <a href="http://emrlabs.com" target="_blank"><img src="/assets/images/sponsors/emrlab.png"></a>
    </div>
  </div>

  <h2>How to become a sponsor</h2>
  <p>The Waterloo Aerial Robotics Group would not exist and could not operate were it not for the assistance provided from our many sponsors.  If you own or represent a company or organization then we encourage you to consider sponsoring our exciting entry into the Aerial Robotics Competition.  The Waterloo Aerial Robotics Group can stand to benefit from your financial assistance, technology and expertise. You can start by taking a look at the <a href="/assets/docs/warg_sponsor_information_package.pdf">sponsor information package</a> and <a href="/contact/">contacting</a> us.</p>

  <div class="center">
    <a class="button button-small button-blue" href="/assets/docs/warg_sponsor_information_package.pdf">Download Sponsor Package</a>
  </div>

</article>