<% layout('layout') -%>
<article id="main-content">
<h1>Previous Employers</h1>

  <h2 id="Lava">Lava Computer Manufacturing</h2>
  <img title="Lava Logo" src="/assets/employerlogos/lava.gif" height="5%" width="5%">

  <p>I worked at Lava during the Winter of 2017. My main role was R&D, working on new methods and machines to ease production and keep costs down. Among others, I designed a thermoforming machine, came up with a novel snap-clip twist off mechanism for injection molded cylinders, and expanded Lava's tablet enclosure line to sheet metal.  Working at Lava was an extremely unique experience, as not too many companies have been around for as long as they have while still keeping nearly every production task in house.</p>

  <h3 id="LavaRoman">Roman Wynnyckyj, Lava CEO</h2>

  <p>For some context, as a part of the Uwaterloo system, employers will rank student quantitatively on a scale from unsatisfactory to outstanding</p>
  <p>I received an outstanding from Roman. this is what he had to say:</p>
  <div align="center"><p><i>Trevor has an uncanny ability to combine analytical theory with practice.  This in my opinion and previous experience, is indeed very rare; particularly so for a 2A student.  Like most his age, Trevor does suffer from a tad bit of self-overconfidence but this, I believe, will (probably unfortunately) abate with time; combined with the previous alluded to observation of intermix of theory/reality should lead to an outstanding engineer - Good Luck and Full Speed and in the words of a "bygone" engineer regarding your self assuredness: "don't let the basta...ds get you down"! 	I am usually an extremely "harsh" critic - as such my evaluation of Trevor should indicate a student who should by all standards reach the highest levels in his field.</i></p></div>

</article>