<% layout('layout') -%>

<!-- Carousel -->

<section class="slideshow owl-carousel owl-theme">
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/face-FL.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Welcome</h1>
        </div>
      </div>
    </div>
  </div>

<section class="slideshow owl-carousel owl-theme">
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/mountains.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Welcome</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/truck.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>

</section><!-- /.carousel -->

<article id="main-content">
  <h1>Hello</h1>
  <p>My name is Trevor McCourt, and I am a student studying Engineering at the University of Waterloo. I am currenlty looking for reaserch/R&D employment oppertunities for the winter of 2019. Feel free to check out my resume and some images of projects i've worked on via the menu above.</p>
</article>
