<% layout('layout') -%>

<!-- Carousel -->
<section class="slideshow owl-carousel owl-theme">
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/profile.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Welcome</h1>
          <p >This website has been built as an actively updatable porfollio through which I can display my work</p>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/molder4.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>My goal</h1>
          <p >I want to get the most out of my Co-Op work terms at waterloo, and am allways looking for potential oppertunities</p>
          <a  href="/assets/resume.pdf">View my resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/homepage-carousel/team.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Involvement</h1>
          <p >I am involved in all kinds of design projects, in both a team and individual capacity. I am a leader, and am commited to my work and stand behind everything i create</p>
          <a href="/projects/">See some of what I have done</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.carousel -->

<article id="main-content">
  <h1>Who am I?</h1>
  <p>My name is Trevor McCourt, and I am a student studying Mechanical Engineering at the University of Waterloo with a passion for mechanical design, specifically in the aerospace field. I live to create, and thrive in every aspect of the design process, whether that involves a lot of detailed analysis or throwing something together with a healthy amount of epoxy. I have diverse intrests, and am an avid programmer and cyclist in my spare time.  </p>

  <h1>Where am I?</h1>
  <p>Currently, as of the summer of 2016, I am on a work term with the Toronto Transit commission in the signals departent. I am seeking employment for the winter of 2016, so check out my <a href="/projects/">Projects</a> and my <a href="/assets/resume.pdf">Resume</a> and let me know if you think i would be a good fit within your company </p>

  <h1>Contact Me</h1>
  <p>You can either get into contact with me through <a href="/contact/">this</a> email portal or through my <a href="https://www.linkedin.com/in/mccourttrevor">linkedin</a> account. I generally respond to emails quite quickly. </p>


  </section>
</article>
