<% layout('layout') -%>
<section class="slideshow owl-carousel owl-theme">
<div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/form1PC2.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1></h1>
          <p>Building my computer into an old Formlabs Form 1</p>
          <a href="#form1PC">Learn More</a>
        </div>
      </div>
    </div>
  </div>
<div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/3DPrinter.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Giant scale 3D printer</h1>
          <p>A 750x750x750mm build volume FDM printer</p>
          <a href="#3DPrinter">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
<div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/knife.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Knifemaking</h1>
          <p>Design/Fabrication of a spring assisted folding knife</p>
          <a href="#knife">Learn More</a>
        </div>
      </div>
    </div>
  </div>
<div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/gearPrelimRetracted.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Landing Gear</h1>
          <p>Conceptual design of a retractable and suspended landing gear system for WARG's new VTOL aircraft</p>
          <a href="#Gear">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/blimp.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Hybrid Aircraft</h1>
          <p>Development of a lighter-than-air craft capable of airplane-like movement</p>
          <a  href="#blimp">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/gimbal2.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Camera Gimbal</h1>
          <p>Camera stabilization system developed for unmanned aircraft capable of reading QR codes at altitudes upwards of 100 meters </p>
          <a  href="#gimbal">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!-- /.carousel -->
<article id="main-content">

  <h1>My Recent Projects</h1>
  <h2 id="form1PC">Form 1 PC</h2>

  <img title="setup" src="/assets/images/projects/Form1PC/setup.jpg">

  <p>I built a computer into a Formlabs Form 1 3D printer, because why not. </p>

  <img title="back" src="/assets/images/projects/Form1PC/back.jpg">

  <p>The entire internal frame had to be stripped from the printer and re-deisgned to house new hardware. What used to be galvonometers and mirrors is now power supply and graphics card. The body of the printer is now essentially 100% full of stuff. It will be a struggle to route even another display cable if nessisary due to the density of the packing.</p>

  <img title="internals" src="/assets/images/projects/Form1PC/internals.jpg" >

  <p>The full photo album can be found <a href="https://imgur.com/a/qk9DTYN">here</a>

  <h2 id="3DPrinter">Large Scale FDM 3D printer</h2>

  <img title="overview" src="/assets/images/projects/3DPrinter/overview.jpg">

  <p>A 750x750x750mm build volume FDM 3D printer styled after the Funicular in Buda Castle, Budapest (stained wooden panelling we made for it not shown above). Made as part of the Formlabs Summer 2018 Hackathon with a team of ~5 core members. I was responsible for the design/fab of everything metal and everything moving on the printer. Made heavy use of waterjet cutting and 80/20, as is natural.</p>

  <img title="back" src="/assets/images/projects/3DPrinter/hotend.jpg">

  <p>The machine was used to 3D print a 1:1 Form 2. <p>

  <h2 id="knife">Spring-ASsist Folding Knife</h2>

  <img title="opening and closing" src="/assets/images/projects/knife/opening.gif">

  <p>I designed and fabricated a spring assisted folding knife during my spare time while working at Zaber Technologies. The handles are made of steel and were CNC milled. The blade is A2 tool steel, and was profiled on a waterjet, ground, and heat treated to ~60 RC. </p>

  <img title="Closed Knife" src="/assets/images/projects/knife/black.jpg">

  <p>The knife is functional, but requires improvement. The locking mechanism is a bit of a compromise due to geometric constraints imposed by the opening system, and the handles are too soft and are worn to quickly by the pivot bearings. Both could have been improved if time allowed for another iteration</p>

  <img title="Non-Retractable Assembly" src="/assets/images/projects/knife/standing.jpg" >



  <h2 id="Gear">Landing Gear</h2>
  <img title=" A view of the suspension in action" src="/assets/images/projects/gear/gearPrelimSus.JPG" alt="A view of the suspension in action">

  <p>One of my many contributions to the WARG VTOL aircraft (and the only one showcased here, see my resume for more) was the development of a few conceptual landing gear systems. They varied in complexity. The first concept was retractable and suspended, as seen below.</p>

  <img title="Isometric View of the Gear" src="/assets/images/projects/gear/gearPrelim1.JPG" alt="Isometric View of the Gear">

  <p>The retraction mechanism is powered by one linear actuator, which is connected to the gear legs via a simple mechanical latching system. The actuator is in its minimum position when the gear are deployed to ensure that it does not fail when it is needed the most. The suspension is simple yet effective: It is capable of absorbing both horizontal and vertical impacts making landing on rough surfaces less of a hassle.</p>

  <img title="Non-Retractable Assembly" src="/assets/images/projects/gear/non.JPG" alt="Non-Retractable Assembly">

  <p>The second concept was  a non-retractable version, which was developed due to weight concerns, as seen above. However, time constraints were realized, and a new (much simpler) design was created that would be much easier to manufacture, as seen below. It uses material deformation to absorb impact as opposed to the gas springs seen in the above designs. This is the final design that has been fabricated. I </p>

  <img title="Final Assembly" src="/assets/images/projects/gear/final.JPG" alt="Final Assembly">

  <h2 id="blimp">Hybrid Aircraft</h2>
  <img src="/assets/images/projects/blimp/mboh.jpg" alt="Shot of the craft in a flyable state">
  <p>The craft was developed with a small team with the intention of creating something that looked and floated like a blimp, but moved like an airplane. The design went through many phases (as can be seen in the difference between above and the header image), and many changes were made to accommodate for difficulties in construction. The craft was controlled by a custom micro-controller, and could be operated with the use of any Bluetooth compatible android device.</p>
  <img src="/assets/images/projects/blimp/plat.JPG" alt="What my design and analysis was focused on">
  <p>My main work was on the structural analysis of the central platform of the craft. I used conservative approximations to predict the deflection of the craft's supporting beams and ensure they were strong enough to resist the applied stress. Given that weight was a huge factor in the design of every part of the craft, I also had to design as efficiently as possible so it would fly in the end.</p>

  <h2 id="gimbal">Camera Gimbal</h2>
  <p>During the Unmanned Systems Canada competition that WARG participates in every year, QR codes must be read from altitudes in excess of 100 meters,  retrieving the contents of which being one of the main focuses of the competition. In late 2015/ early 2016, I lead a team in the development of a new camera stabilization system for use in the 2016 competition. </p>

  <img title=" Cutaway render of the camera gimbal" src="/assets/images/projects/gimbal/cutawaygimbalmount.JPG" alt="Cutaway render of the camera gimbal">

  <p>The gimbal has gone through many design/manufacturing iterations, with the latest being as aerodynamically optimized as possible given the constraints placed on it.</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/hiQ8D4ooIyo" frameborder="0" allowfullscreen></iframe>

  <img title="Photo of the manufactured product" src="/assets/images/projects/gimbal/picture.jpg" alt="Photo of the manufactured product">

  <p>A photo of the final iteration of the gimbal can be seen above.</p>



</article>