<% layout('layout') -%>
<section class="slideshow owl-carousel owl-theme">
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/bars_hq.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Bicycle Design</h1>
          <p>A sleek and sporty frame and cockpit design for a modern road bike</p>
          <a href="#Bike">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/plane.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>S.P.I.K.E Modeling</h1>
          <p>A high complexity 3D model of the University of Waterloo Aerial Robotics team' s current aircraft</p>
          <a href="#CAD">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/gimbal2.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Camera Gimbal</h1>
          <p>Camera stabilization system developed for unmanned aircraft capable of reading QR codes at altitudes upwards of 100 meters </p>
          <a  href="#gimbal">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/molder2.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Injection Molder</h1>
          <p>Redesign of an industrial injection molder for a corporation as described in an innocentive.com challenge</p>
          <a  href="#molder">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/bike.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Road Bike Restoration</h1>
          <p>Restoration and modernization of Norco Monterey road bicycle </p>
          <a  href="#bike">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/groundstation.png" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Ground Station</h1>
          <p>Development of a node.js based application used to control WARG aircraft</p>
          <a  href="#ground">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/blimp.JPG" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Hybrid Aircraft</h1>
          <p>Development of a lighter-than-air craft capable of airplane-like movement</p>
          <a  href="#blimp">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item-wrapper">
      <img class="carousel-image" src="/assets/images/projects-carousel/lifi.jpg" alt="">
      <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>Li-Fi Transceiver</h1>
          <p>Java/Arduino based visual light communication platform</p>
          <a  href="#lifi">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.carousel -->
<article id="main-content">
  <h1>My Recent Projects</h1>

  <h2 id="Bike">Road Bike Design (Work in progress)</h2>
  <img title=" A view of the frame itself" src="/assets/images/projects/bikedesign/bars_front_hq.JPG" alt="A view of the frame itself">
  <p><b>25 reference planes </b> </p>

  <p>I am currently in the process of designing and modeling a modern aerodynamic road bike. The frame and cockpit (handlebars, stem, etc) have all been completely made from scratch, and have been designed to be compatible with modern components, as can be seen in the header and above.</p>

  <img title="A render of the frame by itself" src="/assets/images/projects/bikedesign/frame_hq.JPG" alt="A render of the frame by itself">

  <p>The frame itself has been optimized both aerodynamically and structurally through the use of SolidWorks CFD and FEA. the tubes are shaped such that they are both aerodynamic and appropriately wide to provide sufficient stiffness in the correct direction. For example, the seat tube is wide laterally to increase the overall resistance of the frame to lateral bending at the bottom bracket. </p>

  <h2 id="CAD">S.P.I.K.E Modeling</h2>
  <img title=" A render of the complete aircraft model" src="/assets/images/projects/spike/a.JPG" alt="A render of the complete aircraft model">
  <p><b>25 reference planes </b> </p>

  <p>This accurate 3D model I created of WARG's current aircraft represents how advanced my SolidWorks skills have become. It has been extremely useful to the team, and has been used in our ground station, simulator, to measure physical quantities of the craft (center of mass) and in making new parts to fit it like a glove (see gimbal). </p>

  <img title="A render showing the wing assembly" src="/assets/images/projects/spike/drone_wing3.JPG" alt="A render showing the wing assembly">

  <p>Each part of the aircraft was modeled in detail to reflect reality. The internals of the model line up well with the real-life plane, which allows us to use the model to figure out ideal component placement.</p>

  <h2 id="gimbal">Camera Gimbal</h2>
  <p>During the Unmanned Systems Canada competition that WARG participates in every year, QR codes must be read from altitudes in excess of 100 meters,  retrieving the contents of which being one of the main focuses of the competition. In late 2015/ early 2016, I lead a team in the development of a new camera stabilization system for use in the 2016 competition. </p>

  <img title=" Cutaway render of the camera gimbal" src="/assets/images/projects/gimbal/cutawaygimbalmount.JPG" alt="Cutaway render of the camera gimbal">

  <p>The gimbal has gone through many design/manufacturing iterations, with the latest being as aerodynamically optimized as possible given the constraints placed on it.</p>

  <img title=" Render of the final gimbal shape" src="/assets/images/projects/gimbal/new.jpg" alt="Render of the final gimbal shape">

  <h2 id="molder">Injection Molder</h2>
  <img src="/assets/images/projects/molder/crossbraceimg.JPG" alt="A side view of the redesigned molder" title="A side view of the redesigned molder">
  <p>As a part of an <a href="https://www.innocentive.com/">Innocentive</a> challenge, I, along with a team, redesigned an industrial injection molding machine to be more accurate and efficient. </p>
  <img src="/assets/images/projects/molder/cam3.JPG" alt="redisigned cam mechanism" title="redisigned cam mechanism">
  <p>Several mechanical deficiencies were identified, and solutions were devised to increase the stiffness of the parts of the molder under high load and temperature.</p>

  <h2 id="bike">Bicycle Restoration</h2>
  <img title="The bike before I got to it" src="/assets/images/projects/bike/pre.JPG" alt="The bike before I got to it">
  <p>I maintain and enhance my mechanical ability through doing all my own work on my bikes. I recently restored an old 80's Norco Monterey to like new. How i picked it up can be seen above, and how it is now can be seen bellow (and in the header). Virtually every mechanical part was taken apart completely and cleaned thoroughly, with the exception of the bottom bracket, which was rusted beyond repair.
  </p>
  <img title=" Out on a nice day" src="/assets/images/projects/bike/aft.jpg" alt="Out on a nice day">

  <h2 id="ground">Ground Station</h2>
  <img src="/assets/images/projects/groundstation/groundstation.png" alt="screenshot of the groundstation software">
  <p>My most recent major software project was the development (along with <a href="http://www.sergebabayan.com/"> Serge Babayan </a> ) was the development of a ground station application for WARG. The program was built on node.js (as was this website), and featured a modular window based design which made it really intuitive to use. It exposed me to building software with pros, which has really enhanced my ability to organize within a group.</p>

  <a class="button button-small button-blue" href="https://github.com/UWARG/WARG-Ground-Station.git">See it on GitHub</a>

 <h2 id="blimp">Hybrid Aircraft</h2>
  <img src="/assets/images/projects/blimp/mboh.jpg" alt="Shot of the craft in a flyable state">
  <p>The craft was developed with a small team with the intention of creating something that looked and floated like a blimp, but moved like an airplane. The design went through many phases (as can be seen in the difference between above and the header image), and many changes were made to accommodate for difficulties in construction. The craft was controlled by a custom micro-controller, and could be operated with the use of any Bluetooth compatible android device.</p>
  <img src="/assets/images/projects/blimp/plat.JPG" alt="What my design and analysis was focused on">
  <p>My main work was on the structural analysis of the central platform of the craft. I used conservative approximations to predict the deflection of the craft's supporting beams and ensure they were strong enough to resist the applied stress. Given that weight was a huge factor in the design of every part of the craft, I also had to design as efficiently as possible so it would fly in the end.</p>

 <h2 id="lifi">Li-Fi Transceiver</h2>
  <p>I developed and constructed an arduino based device that was capable of breaking down and interpreting data that was transmitted as flashes from an LED. The data was transmitted at a rate of over 1000 flashes per second. The device was capable of sending a jpeg image with an accuracy of ~80%.</p>

</article>